<html>
  <head>
      <title>Josu Rubio's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
      <h2><a href="">My first Post</a></h2>
      <iframe width="200" height="150" src="https://www.youtube.com/embed/V5koLlk6zF0" frameborder="0" allowfullscreen></iframe>
      <p>Este es un video de prueba</p>
      <ul>
        {% for post in posts %}
        <li><h3>{{post.title}}</h3></li>
        <ul>
          <li>{{post.text}}</li>
        </ul>
        {% endfor %}
      </ul>
    </div>
</html>
